## sim parameters
dt_sim: 0.0001
dt_control: 0.02
controller_type: "Linear"
v_min : 0.5
w_max : 300
w_delta_lim: 50
accel : 3.5
deaccel : -28
wheel_radius : 0.051
robot_width : 0.270
robot_length : 0.270
y_std : 0.02
x_limit: 20


## motor parameters
motor_gain: 4.5
gain_mismatch: 0
motor_time_constant: 0.1
time_constant_mismatch: 0
measurement_bias: 0
measurement_std: 0
closed_loop_constant: 0.1
max_delta_u : 5
max_u: 110.1
kf_percentage: 0

## Classic Controllers Parameters
k_nlc : 3
b_smc : 1
gamma : 0.4
ktheta : 14.14
kd_theta : 2
td_y : 0.116
ki : 5
## PPO

ppo_w : 1
model_path : "model/PPO.zip"

N : 5
Q:
  - [1, 0]
  - [0, 1]

R:
  - [3, 0]
  - [0, 3]
